.ButtonParentContainer{
    margin-left: 20px;
}

.SignInButton{
    display:flex;
    justify-content: center;
    height : 5.4vh;
    width: 8vw;
    border: 1px solid white;
    border-radius: 20px;
    gap: 4px;

}
.SignInButton:hover{
    background-color: rgba(240, 248, 255, 0.25);
    border-color: white;
}

.AvatarContainer{
    height: 5vh;
    width: 5vh;
    border: 1px wheat solid;
    border-radius: 20px;
}
.Avatar{
    width: 100%;  /* Make the image take up the full width of the container */
    height: 100%; /* Make the image take up the full height of the container */
    object-fit: cover; /* Ensures the image scales and fits within the container, cropping if necessary */
    border-radius: 50%;
}